# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*
*.angular/cache/*

.idea/
.ionic/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
platforms/
plugins/
test/reports/
plugins/android.json
plugins/ios.json
www/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate

gitlabci-generator/index.js
cypress-e2e/cypress/videos/*
cypress-e2e/cypress/screenshots/*
cypress/support/commands.js
cypress/support/index.js
cypress/videos/examples/actions.spec.js.mp4
cypress-e2e/cypress/fixtures/example.json

